@model FSean.Models.Voluntario

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Voluntario</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.vLugarTrabajo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.vLugarTrabajo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.vAreaConocimiento)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.vAreaConocimiento)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.bAntiguedad)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.bAntiguedad)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.iRoles)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.iRoles)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.vExperienciaPasada)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.vExperienciaPasada)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.vSugerencias)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.vSugerencias)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.vArea)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.vArea)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.iCategoria)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.iCategoria)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.vEncargado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.vEncargado)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.bJuez)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.bJuez)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.iId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
